.display {
    margin: 10px;
    border: 2px solid #cfa542;
    border-radius: 5%;
    width: auto;
    height: 80px;
    color: #0b2838;
    font-size: 14px;
    vertical-align: center;
    background-color: #428aba;
}
.number {
    margin: 10px;
    width: auto;
    height: 80px;
    color: #0b2838;
    font-size: 45px;
    background-color: #428aba;
}
.numberOver {
    margin: 10px;
    width: auto;
    height: 80px;
    color: #c11515;
    font-size: 45px;
    background-color: #428aba;
}
.input {
    margin: 5px;
    padding: 2px 6px;
    border: 0 solid;
    border-radius: 6px;
    box-shadow: 0 0 10px 1px #ffffff;
    width: 40px;
    height: 20px;
    font-size: 14px;
    transition: .3s box-shadow;
}
.input:hover {
    box-shadow: 0 0 5px 1px #fff;
    transition: .3s box-shadow;
}
.input:focus {
    outline:none !important;
    box-shadow: 0 0 5px 1px #fff;
}

.error { /*текст ошибки*/
    color: #7c2e2e;
}